<!-- Checkout Page Content -->
<div id="breadcrumb" class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="breadcrumb-header">Checkout</h3>
        <ul class="breadcrumb-tree">
          <li><a href="#" onclick="loadPage('home')">Home</a></li>
          <li class="active">Checkout</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- SECTION -->
<div class="section">
  <div class="container">
    <div class="row">
      <!-- Order Details -->
      <div class="col-md-12 order-details">
        <div class="section-title text-center">
          <h3 class="title">Your Order</h3>
        </div>
        <div class="order-summary">
          <div class="order-col">
            <div><strong>PRODUCT</strong></div>
            <div><strong>TOTAL</strong></div>
          </div>
          <div class="order-products">
            <!-- products will be injected by checkout.js -->
          </div>
          <div class="order-col">
            <div>Shipping</div>
            <div><strong>FREE</strong></div>
          </div>
          <div class="order-col">
            <div><strong>TOTAL</strong></div>
            <div><strong class="order-total">0.00 KM</strong></div>
          </div>
        </div>

        <div class="text-center">
          <a href="#" class="primary-btn order-submit">Place order</a>
        </div>
      </div>
      <!-- /Order Details -->
    </div>
  </div>
</div>
<!-- /SECTION -->
