<!-- Home Page Content -->
<div class="section">
    <div class="container">
        <div class="row">
            <!-- COLLECTIONS -->
            <div class="container">
                <div class="row">
                    <!-- First row of collections -->
                    <div class="col-md-4">
                        <div class="collection-box">
                            <img src="frontend/images/SPEAKERS.jpg" alt="Speakers Collection" class="collection-img">
                            <div class="collection-overlay">
                                <h3>Speakers Collection</h3>
                                <a href="#" class="cta-btn">SHOP NOW <i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="collection-box">
                            <img src="frontend/images/AMPLIFIERS.jpg" alt="Amplifiers Collection" class="collection-img">
                            <div class="collection-overlay">
                                <h3>Amplifiers Collection</h3>
                                <a href="#" class="cta-btn">SHOP NOW <i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="collection-box">
                            <img src="frontend/images/MATRIXES.jpg" alt="Matrix Collection" class="collection-img">
                            <div class="collection-overlay">
                                <h3>Matrix Collection</h3>
                                <a href="#" class="cta-btn">SHOP NOW <i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            
                <div class="row mt-4">
                    <!-- Second row of collections -->
                    <div class="col-md-4">
                        <div class="collection-box">
                            <img src="frontend/images/MICROPHONES.jpg" alt="Microphones Collection" class="collection-img" width="350" height="250">
                            <div class="collection-overlay">
                                <h3>Microphones Collection</h3>
                                <a href="#" class="cta-btn">SHOP NOW <i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="collection-box">
                            <img src="frontend/images/Lightning.jpg" alt="Lightning Collection" class="collection-img">
                            <div class="collection-overlay">
                                <h3>Lightning Collection</h3>
                                <a href="#" class="cta-btn">SHOP NOW <i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="collection-box">
                            <img src="frontend/images/accesories.jpg" alt="Accessories Collection" class="collection-img">
                            <div class="collection-overlay">
                                <h3>Accessories Collection</h3>
                                <a href="#" class="cta-btn">SHOP NOW <i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            

<!-- New Products Section -->
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="title">New Products</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="product">
                    <div class="product-img">
                        <img src="frontend/images/product01.png" alt="">
                    </div>
                    <div class="product-body">
                        <p class="product-category">Category</p>
                        <h3 class="product-name"><a href="#">Product Name</a></h3>
                        <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product">
                    <div class="product-img">
                        <img src="frontend/images/product01.png" alt="">
                    </div>
                    <div class="product-body">
                        <p class="product-category">Category</p>
                        <h3 class="product-name"><a href="#">Product Name</a></h3>
                        <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product">
                    <div class="product-img">
                        <img src="frontend/images/product01.png" alt="">
                    </div>
                    <div class="product-body">
                        <p class="product-category">Category</p>
                        <h3 class="product-name"><a href="#">Product Name</a></h3>
                        <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product">
                    <div class="product-img">
                        <img src="frontend/images/product01.png" alt="">
                    </div>
                    <div class="product-body">
                        <p class="product-category">Category</p>
                        <h3 class="product-name"><a href="#">Product Name</a></h3>
                        <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

<!-- HOT DEAL SECTION -->
<div id="hot-deal" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hot-deal">
                    <ul class="hot-deal-countdown">
                        <li><div><h3>02</h3><span>Days</span></div></li>
                        <li><div><h3>10</h3><span>Hours</span></div></li>
                        <li><div><h3>34</h3><span>Mins</span></div></li>
                        <li><div><h3>60</h3><span>Secs</span></div></li>
                    </ul>
                    <h2 class="text-uppercase">Hot Deal This Week</h2>
                    <p>New Collection Up to 50% OFF</p>
                    <a class="primary-btn cta-btn" href="#">Shop now</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Top Selling Section -->
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="title">Top Selling</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="product">
                    <div class="product-img">
                        <img src="frontend/images/product06.png" alt="">
                    </div>
                    <div class="product-body">
                        <p class="product-category">Category</p>
                        <h3 class="product-name"><a href="#">Product Name</a></h3>
                        <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="product">
                    <div class="product-img">
                        <img src="frontend/images/product07.png" alt="">
                    </div>
                    <div class="product-body">
                        <p class="product-category">Category</p>
                        <h3 class="product-name"><a href="#">Product Name</a></h3>
                        <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="product">
                    <div class="product-img">
                        <img src="frontend/images/product08.png" alt="">
                    </div>
                    <div class="product-body">
                        <p class="product-category">Category</p>
                        <h3 class="product-name"><a href="#">Product Name</a></h3>
                        <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="product">
                    <div class="product-img">
                        <img src="frontend/images/product09.png" alt="" >
                    </div>
                    <div class="product-body">
                        <p class="product-category">Category</p>
                        <h3 class="product-name"><a href="#">Product Name</a></h3>
                        <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
