<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb-tree">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">All Categories</a></li>
                    <li><a href="#">Speakers</a></li>
                    <li><a href="#">Passive speakers</a></li>
                    <li class="active product-name"></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- /BREADCRUMB -->

<!-- SECTION -->
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <img id="main-product-img" src="" alt="Product Image" style="max-width:100%;">
            </div>
            <div class="col-md-2">
                <img id="thumb-product-img" src="" alt="Thumbnail" style="max-width:100%;">
            </div>
            <div class="col-md-5">
                <div class="product-details">
                    <h2 class="product-name"></h2>
                    <h4 class="product-price"></h4>
                    <span class="product-category"></span>
                    <p class="product-description"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="frontend/js/product.js"></script>